@charset "utf-8";

/* PC用画面 */

/*header全体の設定*/
.Header{
    width:100%;
    height: 70px;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    background-color: bisque;
}

/*headerの子の設定*/
.HeaderContainer{
    display: flex;
    justify-content: space-between;
    margin: 0px 36px;
    padding: 20px 0px;
    text-align: center;
    background-color: azure;
}

.HeaderLogoImage{
    display: block;
    height: 20px;
}
/*header内リスト枠設定*/
.HeaderNavilist{
    align-items: center;
    display: flex;
    list-style:none;
    padding:0;
    margin: 0;
    font-size: 12px;
}
/*header内humburgerの設定*/
.hamburger{
  display: none;
}
/*header内リスト文字の設定*/
.HeaderNavilistItem{
    margin-right: 45px;
}

a{
    color: #333;
    text-decoration: none;
}

.HeaderNavilistItem .link > span{
    display:block;
    font-weight: 700;
    text-align: center;
}

.button{
    align-items:center;
    background-color: orange;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}

body{
    margin:0;
}

.FirstViewContainer{
    max-width:1040px;
    margin:0 auto;
    padding: 0 40px;
    position:relative;
}

.FirstView{
    position: relative;
    height: 739px;
    overflow: hidden;
}

.FirstViewLeft{
    max-width:600px;
    padding-top:140px;
    position:relative;
}

.left-bg{
    top: -70px;
    left: 0;
    position: absolute;
    z-index: -1;
}

.main-visual{
    position:absolute;
    right:0;
    top:-70px;
    max-width:775px;
    width: 55%;
    z-index:-1;
}

.fill-rectangle{
    position:absolute;
    top:84px;
    left:-70px;
    z-index:-1;
}

.right-bg{
    position:absolute;
    right:0;
    bottom:70px;
    z-index:-1;
}

.FirstViewLeft_title{
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 46px;
    font-weight: 800;
    line-height: 64px;
    margin-bottom: 16px;
}

.badge{
    position: absolute;
    top: 30px;
    right: -150px;
}
.cta-btn{
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}

.caption{
    font-size: 12px;
    line-height: 16px;
}

p {
    color: #333;
}

/* スマホ用画面 */

@media (max-width:1080px) {
    
    .new-visual{
        display: block;
        width: 100%;
        margin-bottom: 7px;
    }

    .HeaderContainer{
        max-width: 100%;
        margin: 0 16px;
    }

    .HeaderNavilist{
        display: none;
    }

    .hamburger{
        display: block;
        position: relative;
        width: 24px;
        height: 17px;
        margin: auto;
        z-index: 100%;
    }

    .HeaderNavHamburger__line{
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #A2A2A4;
        border-radius: 10px;
    }

    /*上*/
    .HeaderNavHamburger__line:nth-child(1){
        top: 0;
    }
     /*中*/
    .HeaderNavHamburger__line:nth-child(2){
        top: 50%;
    }
     /*下*/
    .HeaderNavHamburger__line:nth-child(3){
        bottom: 0;
    }

    .fill-rectangle{
        display: none;
    }


    .FirstViewLeft_title{
        font-size: 22px;
        line-height: 36px;
        position: relative;
        width: fit-content;
    }

    .right-bg .badge{
        display: none;
    }

}